.room-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.white-text {
    color: #fff;
}

.blur {
    background: rgba(0,0,0,0.6);
    filter: blur(4px);
    transition: 1.5s;
}

/** ROOMS **/
.rooms {   
    margin: 25px;
    display: grid;
    gap: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80vh;
    align-content: start;
}

@media (min-width: 600px) {
    .rooms { grid-template-columns: repeat(1, 1fr); }
}

.btn-room {
    width: 30vw;
    min-width: 300px;
    height: fit-content;

    padding: 32px 32px;
    transition: opcaity 0.4s;

    outline: none;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;

    color: #fff;
    cursor: pointer;

    font-size: 2.5vh;
    text-align: left;

    padding: 20px 15px 20px 15px;
}

.btn-room p {
    margin: 1px;
}

.btn-room-title {
    text-transform: uppercase;
    font-weight: bold;
}

.btn-room:hover {
    opacity: 0.6;
    background-size: cover;
}

.create-room {
    text-align: center;
    font-weight: bold;
    background-color: rgb(123, 170, 127);
}

.create-room:hover {
    color: black;
    background-color: rgb(169, 201, 172);
    border-color: rgb(68, 92, 70);
}

/** POP UP **/
.room-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    z-index: 99;
    /* min-width: 400px; */
}

.hidden {
    visibility: hidden;
}

.form-container {
    width: 45vw;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.form-title {
    text-align: center;
}

/* Input label */
.form-label-container {
    display: grid;
    grid-template-areas: "principal secondary";
    grid-template-columns: 2fr 1fr;
}

.label-principal {
    grid-area: "principal";
}

.label-secondary {
    grid-area: "secondary";
    text-align: right;
    padding-right: 10px;
    font-size: small;
    color: #bd1a1a;
}

/* Input */
.form-input {
    /* width: 40vw; */
    width: 94%;
    padding: 3%;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: vertical;
}

.mandatory {
    border: 2px solid red;
}

.form-input:focus {
    background-color: #ddd;
    outline: none;
}

/* Buttons */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    line-height: 0px;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}