.play-container {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.1);
  backdrop-filter: blur(1px);
  overflow-y: auto;
  border-bottom-right-radius: 10px;
}

.play-elements-container {
  margin: 2vw;
}

.play-buttons-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

@media (max-width: 800px) {
  .play-buttons-container {
    flex-direction: column;
  }
}